@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
<a class="navbar-brand" asp-area="" asp-action="Index" asp-controller="AdminBook">    
    <div class="logo-image">
    <img src="~/img/Om.jpg" class="img-fluid img-thumbnail" width="50" height="50" style="opacity:0.5"/>
    </div>
</a>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
<ul class="navbar-nav flex-grow-1">
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="PoojaBkng" asp-action="Index">Pooja Booking</a>
</li>
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="SlotBooking" asp-action="Index">Slot Booking</a>
</li>
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Pooja" asp-action="Details">Pooja Types</a>
</li>
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Register">Register another Admin</a>
</li>
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a>
</li>
</ul>
</div>
</div>