<div>
In the ancient land of India there are various temples with various specialities, this temple is famous for its great architecture
and varied heritage. Historically temples are the centers of culture exchange and tradition.All festivities are associated with devotion in our country even now. No human goes out of a temple with hunger.
We are still following these practices with the same stature in our temple.<br/>
We are glad to say that we have stepped into the virtual world, by logging into our website you can help us provide various services.
<li class="list-group-item list-group-item-action">
We provide Annadhanam to all the people who come to our temple, the free slots will be uploaded in our website from time to time.
You can sponsor the cost of the same by submitting the request and paying the amount by using the Bank Challan.
</li>
<li class="list-group-item list-group-item-action">
Do you want the world to appreciate,your talent we have a concert hall where you can perform for songs and dance, or any arts.
The free slots will be uploaded in our website from time to time and You can pay a minimal amount for the same by 
submitting the request and paying the amount by using the Bank Challan.
</li>
<li class="list-group-item list-group-item-action">
Do you want to celebrate a function with your near and dear ones, we have a function hall where you can perform many functions.
The free slots will be uploaded in our website from time to time and You can pay a minimal amount for the same by 
submitting the request and paying the amount by using the Bank Challan.
</li>
<li class="list-group-item list-group-item-action">
For conducting special Poojas for you and your family we have various schemes for which you can pay the required amount for the same by 
submitting the request and paying the amount by using the Bank Challan.
</li>
<img src="~/img/architecture.jpg" class="rounded mx-auto d-block" alt="temple architecture" width="50%"height="50%">
</div>
