@model TempleWebApp.Models.AnDhanBkng
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
ViewBag.aid =    @HttpContextAccessor.HttpContext.Session.GetString("AdminId");
}
@if(ViewBag.aid!=null)
{
<h4>Annadhanam Edit</h4>
<hr />
<div class="w-100">
    <span class="text-danger field-validation-error">@Html.ValidationMessage("Error")</span>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bkid" />
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Cost</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Det" class="control-label">Details</label>
                <input asp-for="Det" class="form-control" />
                <span asp-validation-for="Det" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Start date and time</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edt" class="control-label">End date and time</label>
                <input asp-for="Edt" class="form-control" />
                <span asp-validation-for="Edt" class="text-danger"></span>
            </div>
            <div class="form-group py-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-end">
    <a class="w-10 btn btn-primary"  asp-action="Index" asp-controller="Adminbook">Back</a>
</div>
}
else
{
    <b>Either you are logged in as a User or you are logged out...</b>

}
